@import "../../../styles/variables.scss";
@import "../../../styles/responsive.scss";

.linkContainer {
  width: 50%;
  margin: 20px auto;

  @include lg {
    width: 30%;
  }
}

.pageNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.headerNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
