@import "../responsive.scss";
@import "../variables.scss";

.basicResponsiveGrid {
  width: $component-full;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include xl {
    grid-template-columns: repeat(3, 1fr);
  }
}

.oneColumnGrid {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.twoColumnGrid {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.threeColumnGrid {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.fourColumnGrid {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.fiveColumnGrid {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.maxTwoColumns {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }
}

.maxThreeColumns {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }

  @include xl {
    grid-template-columns: repeat(3, 1fr);
  }
}

.maxFourColumns {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }

  @include xl {
    grid-template-columns: repeat(4, 1fr);
  }
}

.maxFiveColumns {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }

  @include xl {
    grid-template-columns: repeat(5, 1fr);
  }
}

.maxSixColumns {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }

  @include xl {
    grid-template-columns: repeat(6, 1fr);
  }
}

.maxSevenColumns {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }

  @include xl {
    grid-template-columns: repeat(7, 1fr);
  }
}

.maxEightColumns {
  width: $component-full;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }

  @include xl {
    grid-template-columns: repeat(8, 1fr);
  }
}
