@import "../../../styles/responsive.scss";

.Gallery {
  margin: 20px auto;
}

.galleryContainer {
  display: grid;
  gap: 0;
  margin: 20px 0;
}

.galleryItem {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-sizing: border-box;
}

.twoColumns {
  grid-template-columns: minmax(100px, auto) minmax(100px, auto);
}

.galleryLink {
  width: 50%;
  margin: 20px auto;

  @include lg {
    width: 30%;
  }
}
