.galleryContainer {
  display: grid;
  gap: 0;
  margin: 20px 0;
}

.galleryItem {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.twoColumns {
  grid-template-columns: minmax(100px, auto) minmax(100px, auto);
}

.galleryLink {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
