@import "../../../styles/responsive.scss";

.ShortIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;

  p {
    font-size: 1.2em;

    @include lg {
      font-size: 1.45em;
    }
  }
}

.profileImage {
  border-radius: 50%;
  margin: 10px 0;
  height: 200px;
  width: 200px;
  border: 6px solid red;
}

.bio {
  width: 60%;
  margin: 15px auto;
}
