@import "../../../styles/responsive.scss";

.tocBox {
  position: fixed;
  top: 30%;
  right: 2%;
  width: 15%;
  background-color: white;
  display: none;
  padding: 20px 0;
  border-radius: 10px;
  list-style-type: circle;
  color: black;

  @include lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include xl {
    width: 20%;
    right: 3%;
  }
}

.tocLink {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin: 3px auto;
  width: 90%;

  &:hover {
    color: #007bff;
  }
}

.tocBadge {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 15px;
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  right: 10%;

  @include lg {
    display: flex;
  }
}

.mobileToc {
  display: block;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  list-style-type: circle;
  color: black;

  @include lg {
    display: none;
  }
}

.tocIcon {
  height: 20px;
  width: 20px;
  color: black;
  cursor: pointer;
}

.closeIcon {
  position: absolute;
  top: 8%;
  right: 8%;
}

.postImage {
  width: 85%;
  margin: 20px auto;
  aspect-ratio: 4/3;
  height: auto;
  display: block;
  max-height: 450px;
  object-fit: cover;
}

.specificationText {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: bottom;

  .text {
    font-size: 1.5rem;
    line-height: 60px;
    margin: 10px 20px 0 10px;
  }
}

.imageWithText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;

  .text {
    font-size: 1.1rem;
  }
}

.portrait {
  width: 60%;
  height: auto;
  aspect-ratio: 9/16;
  max-height: 450px;
  object-fit: contain;
}

.landscape {
  width: 85%;
  height: auto;
  aspect-ratio: 16/9;
  max-height: 450px;
  object-fit: cover;
}
