.horizontalPictureCard {
  display: flex;
  flex-direction: row;
  aspect-ratio: 2.35/1;

  &.rounded {
    border-radius: 20px;
  }
  &.reverseHorizontal {
    flex-direction: row-reverse;
  }
}

.verticalPictureCard {
  display: flex;
  flex-direction: column;

  &.rounded {
    border-radius: 20px;
  }
}

.horizPicture {
  width: 50%;
  object-fit: cover;
  &.rounded {
    border-radius: 20px 0 0 20px;

    &.reverseHorizontal {
      border-radius: 0 20px 20px 0;
    }
  }
}

.vertPicture {
  height: 50%;
  object-fit: cover;
  &.rounded {
    border-radius: 20px 20px 0 0;
  }
}

.horizContentBox {
  width: 50%;
  padding: 20px;
}

.vertContentBox {
  height: 50%;
  padding: 20px;
}
